/**
 * Default colors used by Tailwind in Light theme.
 */
:root {
  --typography-primary: #000000;
  --typography-secondary: #201b1b;
  --typography-tertiary: #8c9fae;
  --typography-error: #ac3838;
  --typography-success: #3fb984;
  --typography-light: #718096;
  --app-background: #ffffff;
  --app-footer: #b3becc;
  --app-main: #edebeb;
  --app-button: #1c97e9;
  --app-trending: #f7f9f9;
  --app-search: #eff3f4;
  --button-hover: #f0f0f0;
  --button-hover1: #0f7bc3;
  --button-hover2: #badff8;
  --button-hover3: #f7f7f7;
  --button-hover4: rgb(41, 40, 40);
  --button-success: #d3fdd0;
  --button-warning: #d3782d;
  --button-failure: #ffc8c8;
}

.theme-color-preference {
  /**
   * Dark Theme.
   * Override default colors to match theme.
   * Also, add theme specific element styling.
   */
  &.dark {
    // --typography-primary: #000;
  }
}
